//
   Created by Dida on 2016/12/21.
extend ../layout

block append style
    link(rel="stylesheet",href="/stylesheets/knowledgeSystem.css")

block content
    .artical
        //-var articals=[{title:"线性表",content:["概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1","概念的内容2"]}];
        each res in resource
            h3.artical-title #{res.name}
            each item in res.content
                h4() =item.subhead
                p() =item.detail
    .recommend-v 推荐视频
        -var recommentV=[{title:"第一个推荐的视频",recommend:"100",collect:"100",download:"90"},{title:"第er个推荐的视频",recommend:"100",collect:"100",download:"100"},{title:"第san个推荐的视频",recommend:"100",collect:"100",download:"100"}];
        each video in recommentV
            .recommend-v-list.clear
                span
                span.recommend-v-title #{video.title}
                span.download #{video.download}
                span.collect #{video.collect}
                span.recommend #{video.recommend}


        //.recommend-v-list
        //    span
        //    span.recommend-v-title
        //    span.recommend
        //    span.collect
        //    span.download
    .recommend-d 推荐文档
        .recommend-d-list
            span
            span.recommend-v-title
            span.recommend
            span.collect
            span.download
    .recommend-t 推荐在线测试
        .recommend-t-list
            span
            span.recommend-v-title
            span.recommend
            span.collect
            span.download

